.cart {
    width: 25%;
    /* float: right; */
    top: 0;
    padding-top: 60px;
    position: fixed;
    background-color: #FFFFFF;
    font-size: 20px;
    height: 900px;
    box-shadow: rgba(67, 41, 163, 0.1) 0px 0px 0px 1px,
    rgba(67, 41, 163, 0.1) 0px 1px 8px 0px;
    right: 0;
    z-index: 960;
}

.cart-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 63%;
    top: 10px;
    /* margin-top:8%; */
    margin-top: 30px;
}

#menu-root {
    overflow: hidden;
}