.pop-menu-item{
    font-family: 'Roboto',sans-serif; 
    /* width: 75vw; */
    width: 100%;
    height: 135px;
    background-color: white;
    /* border: 1px grey solid; */
    position: relative;
    padding: 0.3em 1em;
    border-radius: 0.3em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
}

.pop-menu-item:hover {
    box-shadow: 0 0 8px rgba(33,33,33,.2); 
  }

.pop-menu-item:hover .pop-menu-item-content{ background-color: white; }

.pop-menu-item-content{
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

.pop-menu-item-content{
    transition: background-color 0.3s ease;
    color: rgba(0,0,0,.87);
    font-weight: 700;
    font-family:'Roboto', sans-serif;
    font-size: 15.4px;
    line-height: 1.54;
    position: absolute;
    left: 8px;
    padding: 2px 5px;
    z-index: 1;
    background-color: rgb(255,255,255,0.5);
    bottom: 0px;
    margin: 0.5em 0.1em;
    width: 40%;
    text-align: left;
    border-radius: 0.2em;
}

/*
-------------Modal---------------
*/

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
    background: rgba(0,0,0,.7);
    animation: 175ms flyUp ease forwards;
    animation: .15s flyDown ease forwards;
}

.modal-close{
    width: 10px;
    padding : 11.5px 0 0 28px;
    color: blue;
    font-size: 35px;
    cursor: pointer;
}

.menu-modal-container{
    height: 87%;
    width:50%;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    margin: 1.5% auto;
    /* padding: 0px 0px 28px 28px; */
}

.bag-bar{
    /* margin-right: 0;
    margin-left: 0; */
    position: absolute;
    bottom: 2.5%;
    width:100%;
    padding: 0 0 0 28px;
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.15); */
    box-shadow: 0px -5px 9px rgba(0,0,0,0.1);
}

.menu-modal-button{
    background-color: #0F70EB;
    width: 40%;
    height: 44px;
    border-radius: 6px
}

.menu-modal-container tr { display: block; }

.menu-modal-container tr {
    max-height: 90%;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.modal-menu-item {
    width: 800px;
    height: 250px;
    position: relative;
    background-size: cover;
    margin: 0
}

.modal-menu-item-content{
    display: inline-block;
    vertical-align: top;
    color: rgba(0,0,0,.87);
    font-weight: 700;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.54;
    position: absolute;
    left: 23px;
    bottom: 15px;
    padding: 10px 15px;
    z-index: 1;
    background-color: rgb(255,255,255,0.5);
    margin: 0.5em 0.1em;
    width: 40%;
    text-align: left;
    border-radius: 0.2em;
}

.modal-menu-item-description{
    margin: 16px 30px;
    font-weight: 300;
    font-family:'Roboto', sans-serif;
    /* font-size: 20px; */
}

.modal-menu-item-quantity{
    font-family:'Roboto', sans-serif;
    margin: 16px 30px;
}

.modal-menu-item-options{
    font-family:'Roboto', sans-serif;
    margin: 16px 30px
}

.modal-menu-item-special{
    font-family:'Roboto', sans-serif;
    margin: 16px 30px
}

.instruction{
    width: 680px;
    min-height: 150px;
    margin: 10px 0 0 0;
    border-color:#CCCCCC;
    border-radius: 5px;
    border-width:medium;
    padding: 20px;
    font-family:'Roboto', sans-serif;
    font-size: 1em
}

input[type='checkbox'] {
    zoom: 1.3;
    -webkit-transform: scale(1.3);
    /* -webkit-transform-origin: 0 0; */
    left: 2px;
    margin: 0 2px 0 0;
    position: relative;
}

.nglg_checkbox{
    margin-right: 1em;
}

input[type='checkbox']:hover {
    cursor: pointer
}

td {
    padding: 0;
}

table {
    border-collapse: collapse;
}

.tooltip{
    border: 1px solid blue;
    color: blue;
    font-weight: bolder;
    padding: 0.3em;
    border-radius: 50%;
}